.wrapper {
    position: relative;
    width: 100%;

}

.tabList {
    display: flex;
    gap: 10px;
    position: relative;
    padding-bottom: 6px;
    border-bottom: 1px solid;
    border-color: rgb(235, 235, 235);
    overflow-x: auto;
    scrollbar-width: none
}

.tabItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
    transition: color 0.3s ease;
    color: #444;
    gap: 10px;
    position: relative;
}

.tabItem:hover {
    color: #000;
}

.tabItem.active {
    font-weight: bold;
    color: #b42094;
}

.tabItem.active::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #b42094;
    transition: all 0.3s ease;
    border-radius: 3px;
}


@media only screen and (max-width: 600px) {
    .tabList {
        display: flex;
        gap: 5px;
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: space-between;
        width: 100%;
        min-width: unset;
        scrollbar-width: none;

    }
}