.productCarouselWrapper {
  position: relative;
  width: 100%;
}

.carouselContainer {
  position: relative;
}

.carType {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  position: relative;
  transition: color 0.3s ease;
}


.carType.active {
  font-weight: bold;
}

.underline {
  position: absolute;
  bottom: 0;
  height: 3px;
  background-color: #b42094;
  transition: transform 0.3s ease, width 0.3s ease;
}